<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @publication.name %>
</p>

<p>
  <strong>Abstract:</strong>
  <%= @publication.abstract %>
</p>

<p>
  <strong>Year:</strong>
  <%= @publication.year %>
</p>

<p>
  <strong>Journal:</strong>
  <%= @publication.journal %>
</p>

<%= link_to 'Edit', edit_publication_path(@publication) %> |
<%= link_to 'Back', publications_path %>
