<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @link.url %>
</p>

<p>
  <strong>Publication:</strong>
  <%= @link.publication_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @link.link_type %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
